#nav {
    z-index: 1000;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    border-top: solid 1px rgba(255, 255, 255, 0.05);
    border-bottom: solid 1px rgba(255, 255, 255, 0.05);
    padding: 0 calc(100vw/18*2);

    display: flex;
    justify-content: space-between;

    background: rgb(22, 22, 22, 0.7);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
}

#nav h1,
#nav a {
    font-family: 'Josefin Sans';
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 1px;
}

#nav h1 {
    font-size: 14px;
}

#nav a {
    font-size: 12.5px;
}

/* ===== */

#nav .left h1 {
    /* background: rgba(245, 222, 179, 0.2); */
    padding: 22px 0 20px 0;
}


#nav .right {
    padding-top: 15px;
}

#nav .right a {
    /* background: rgba(245, 222, 179, 0.2); */
    padding: 21px 0 19px 0;
    margin-left: 36px;
}

#nav .right a:hover {
    color: var(--color-link);
}

/* ===================================================== */
#hero-header {
    z-index: 1000;
    position: relative;
    padding: 0 calc(100vw/18*2);
    height: calc(100vh - 60px);

    display: flex;
    align-items: center;
    align-content: stretch;

    background: rgb(22, 22, 22, 0.5);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
}

#hero-header .big-text {
    font-size: 64px;
    font-weight: 500;
    line-height: 1.4;
}