*,
*:before,
*:after {
    font-family: 'Space Grotesk', 'Inter', 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    line-height: 1.5;
    transition: all ease 0.2s;
    color: hsl(0, 0%, 92%);
}

html {
    font-size: 20px !important;
}

body {
    background: hsl(0, 0%, 10%);
    font-weight: 300;
}

.gradient-bg {
    --size: 150vh;
    --speed: 12s;
    --easing: ease-in-out;
    width: var(--size);
    height: var(--size);
    filter: blur(calc(var(--size) / 5));
    background-image: linear-gradient(#37eba9d9, #5b37eb);
    animation: bg-rotate var(--speed) var(--easing) alternate infinite;
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
}

@keyframes bg-rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

::selection {
    color: black;
    background: white;
}

a {
    text-decoration: none;
    border-bottom: 1px dashed hsl(0, 0%, 50%);
}

a:hover {
    color: gold;
    border-bottom: 1px solid gold;
}

h1 {
    font-weight: 300;
    font-size: 1rem;
}

h2 {
    font-weight: 600;
    font-size: 2.6rem;
}

.mobile-padding {
    padding: 0 10vw 0 0;
}

@media screen and (max-width: 1000px) {
    .mobile-padding {
        padding: 2rem;
    }
}

/* =================================================== */

/* RWD */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

@media screen and (min-width: 1000px) {

    .row {
        flex-wrap: nowrap;
    }
}

.row [class^='col'] {
    width: 100%;
}

@media screen and (min-width: 1000px) {
    .row .col {
        width: 100%;
    }

    .row .col-1 {
        width: 8.33%;
    }

    .row .col-2 {
        width: 16.66%;
    }

    .row .col-3 {
        width: 25%;
    }

    .row .col-4 {
        width: 33.33%;
    }

    .row .col-5 {
        width: 41.66%;
    }

    .row .col-6 {
        width: 50%;
    }

    .row .col-7 {
        width: 58.33%;
    }

    .row .col-8 {
        width: 66.66%;
    }

    .row .col-9 {
        width: 75%;
    }

    .row .col-10 {
        width: 83.33%;
    }

    .row .col-11 {
        width: 91.66%;
    }

    .row .col-12 {
        width: 100%;
    }
}