:root {
    --scroll-to-top-color: #8a8a8a;
    --scroll-to-top-hover-color: hsl(0, 0%, 100%);

    --button-background-color: #ffffff;
    --button-text-color: #000000;
    --button-background-hover-color: #111111;
    --button-text-hover-color: #ffffff;
}