* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'K2D', 'Roboto', sans-serif;
    /* font-family: 'Roboto', sans-serif; */

    --content-font-size: 17px;
}

.title {
    /* font-family: 'Roboto', sans-serif; */
    letter-spacing: -0.4px;
}

:root {
    --top-nav-h: 60px;
    --menu-pd: 24px;
    --padding-top-post: 15vh;
} @media screen and (max-width: 768px) {
    :root {
        --padding-top-post: 2.5vh;
    }
}

::selection {
    color: var(--background);
    background: var(--text-1);
}

body {
    transition: all ease 0.0s;
    --background: hsl(0, 0%, 96%);
    --background-nav: hsla(0, 0%, 96%, 0.851);
    --text-1: #202020;
    --text-2: #555555;
    --link: #000000;
    --accent: #009292;
    --code-color: #b63642;
    --svg-f: invert(0.0);
    /* --------------------------- */
    --border: 1px solid #d1d1d1;
    --border-2: 2px solid #d1d1d1;
    --border-3: 1px solid #c5c5c5;
}
body.darkmode {
    --background: #151515;
    --background-nav: #141414d9;
    --text-1: #dfdfdf;
    --text-2: #919191;
    --link: #eeeeee;
    --accent: #00d1d1;
    --code-color: #f0808b;
    --svg-f: invert(1.0);
    /* --------------------------- */
    --border: 1px solid #272727;
    --border-2: 2px solid #272727;
    --border-3: 1px solid #2e2e2e;
}
body {
    background: var(--background);
    color: var(--text-1);
    overflow-x: hidden;
    font-size: 17px;
}

img {
    width: 100%;
    border-radius: 5px;
}

a {
    color: var(--link);
    font-weight: 500;
    text-decoration: none;
    text-decoration: underline 2.5px #85858500;
    transition: all ease 0.2s;
} a:hover {
    text-decoration: underline 2.5px var(--text-1);
}

.button-in-post {
    width: 100%;
    color: #f0f0f0;
    background: #202020;
    border: 1px solid #f0f0f0;
    outline: none;
    padding: 12px 0;
    font-weight: 500;
    margin-top: 18px;
    transition: all ease 0.2s;
} .button-in-post:hover {
    color: #000000;
    background: #f0f0f0;
    border: 1px solid #000000;
}

.svg-f {
    filter: var(--svg-f);
}

.top-nav {
    z-index: 10;

    background: var(--background-nav);
    backdrop-filter: blur( 8px );

    height: var(--top-nav-h);
    width: 100%;
    border-bottom: var(--border);
    position: fixed;
    top: 0; left: 0;
} .top-nav .name {
    float: left;
    font-size: 20px;
    font-weight: 600;
    margin: 14.5px 0 0 16.66vw;
} @media screen and (max-width: 768px) {
    .top-nav .name {
        margin: 16px 0 0 8.33vw;
    }
}
.top-nav .nav-btn {
    float: right;
    margin: 12px 16.66vw 0 0;
} @media screen and (max-width: 768px) {
    .top-nav .nav-btn {
        margin: 12px 8.33vw 0 0;
    }
}
.top-nav .nav-btn img {
    width: initial;
} .top-nav .nav-link-wrap {
    float: right;
    margin: 17.5px 0 0 0;
}
.nav-link {
    font-size: 16.5px;
    font-weight: 600;
    margin-right: 2vw;
} @media screen and (max-width: 768px) {
    .nav-link {
        font-size: 18px;
    }
}








.pfl-left {
    position: fixed;
}
.under-1{
    width: 175px;
    height: 6px;
    margin-top: 12px;
    border-bottom: var(--border-2);
    border-left: var(--border-2);
    border-right: var(--border-2);
    float: left;
}
.under-2{
    width: 60px;
    height: 6px;
    margin-top: 12px;
    margin-left: 13px;
    border-bottom: var(--border-2);
    border-left: var(--border-2);
    border-right: var(--border-2);
    float: left;
}
.undertext-1 {
    margin-left: 62px;
    margin-top: 10px;
    font-size: 12px;
    color: var(--text-2);
    float: left;
}
.undertext-2 {
    margin-left: 72px;
    margin-top: 10px;
    font-size: 12px;
    color: var(--text-2);
    float: left;
}
.pfl-section {
    padding-top: 128px;
}
.pfl-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}
.pfl-text {
    font-size: 15px;
    text-align: justify; 
    line-height: 1.7; 
    color: var(--text-2);
    margin-bottom: 10px;
} @media screen and (max-width: 768px) {
    .pfl-text {
        font-size: 18px;
    }
} .pfl-text a {
    color: var(--text-2);
    font-weight: 400;
    font-style: italic;
    text-decoration: none;
    border-bottom: 1px dotted var(--text-2);
    transition: all ease 0.3s !important;
} .pfl-text a:hover {
    border-bottom: 1px solid var(--accent);
}
.pfl-contact p {
    margin-bottom: 12px;
} .pfl-contact a {
    font-weight: 400;
}


.all-posts .title {
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline 3px #00000000;
    transition: all ease 0.2s;
    border: none;
} .all-posts .title:hover {
    text-decoration: underline 3px var(--text-1);
} .all-posts .preview {
    margin: 0;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.all-posts .thumbnail {
    aspect-ratio: 21/9;
    object-fit: cover;
}



.featured-post {
    width: 100%;
} .featured-post .title {
    font-size: 24px;
    margin-top: 14px;
    text-decoration: underline 3px #00000000;
    transition: all ease 0.2s;
} .featured-post .title:hover {
    text-decoration: underline 3px var(--text-1);
}
.featured-post-2 {
    width: 100%;
} .featured-post-2 .title {
    font-size: 22px;
    margin-top: 12px;
    text-decoration: underline 3px #00000000;
    transition: all ease 0.2s;
} .featured-post-2 .title:hover {
    text-decoration: underline 3px var(--text-1);
}
.featured-post-2 .flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    gap: 48px 0;
} .featured-post-2 .item {
    width: 30%;
    transition: all ease 0.8s;
    filter: saturate(80%);
} .featured-post-2 .item:hover {
    filter: saturate(100%);
} .featured-post-2 .item img {
    margin-bottom: 12px;
    aspect-ratio: 16 / 9;
    object-fit: cover;    
} @media screen and (max-width: 768px) {
    .featured-post-2 .item {
        width: 100%;
    }
}



.page-series-code {
    font-weight: 500;
    font-size: 13px;
}
.page-series-name {
    font-size: 13px;
}
.author-name {
    font-size: 14px;
    margin-bottom: 3vh;
}
@media screen and (max-width: 768px) {
    .page-series-code {
        font-size: 18px;
    }
    .page-series-name {
        font-size: 18px;
    }
    .author-name {
        font-size: 17px;
    }
}

.tag {
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    background: var(--text-1);
    color: var(--background);
    padding: 5px 13px 5px 15px;
    margin-right: 10px;

    border-radius: 3px;
}
.preview {
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
    text-align: justify;
    color: var(--text-2);
    line-height: 1.5;
} @media screen and (max-width: 768px) {
    .preview {
        font-size: 16px;
    }
}
.preview a {
    font-size: 15px;
}


.sub-menu-bar {
    display: flex;
    justify-content: space-between;
}
.sub-menu-bar a {
    color: var(--text-2);
    font-size: 14px;
    font-weight: 400;
}




.post-in-series-wrap {
    position: fixed;
    top: 160px;
    left: 3vw;
    width: 19vw;
    padding-top: 0;
} @media screen and (max-width: 768px) {
    .post-in-series-wrap {
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
        padding-top: calc(2*var(--top-nav-h) - 20px);
    }
}
.post-in-series-list-wrap {
    height: calc(100vh - 160px - 20vh);
    overflow-y: scroll;
}
.post-in-series-wrap ::-webkit-scrollbar { width: 10px; }
.post-in-series-wrap ::-webkit-scrollbar-track { background: transparent; }
.post-in-series-wrap ::-webkit-scrollbar-thumb { background: rgba(133, 133, 133, 0.06); }
.post-in-series-wrap ::-webkit-scrollbar-thumb:hover { background: rgb(134, 134, 134, 0.3); }

.post-in-series {
    font-size: 13px;
    color: var(--text-2);
    padding: 8px 0;
    border-left: 2px solid var(--text-2);
    transition: all ease 0.2s;
} @media screen and (max-width: 768px) {
    .post-in-series {
        font-size: 18px;
        padding: 12px 0;
    }
}
.post-in-series:hover {
    border-left: 6px solid var(--text-2);
}
.post-in-series-wrap ol {
    list-style-position: inside;
}
.post-in-series-wrap ol li {
    position: relative;
    padding-left: 1vw;
}


.modal-top {
    background-color: #202020;  
    height: var(--top-nav-h);
    border-bottom: 1px solid #3a3a3a;
    width: 100%;
} .modal-top .menu-text {
    padding: 19px 0 0 var(--menu-pd);
    color: #f0f0f0;
} @media screen and (max-width: 768px) {
    .modal-top .menu-text {
        padding: 19px 0 0 8.33vw;
    }
}
.modal-cta {
    background-color: #202020; 
    width: 100%;
    color: #f0f0f0;
    padding: var(--menu-pd);
    font-weight: 300;
} .modal-cta button {
    font-size: 14px;
    width: 100%;
    color: #f0f0f0;
    background: #202020;
    border: 1px solid #f0f0f0;
    outline: none;
    padding: 12px 0;
    font-weight: 400;
    margin-top: 18px;
    transition: all ease 0.2s;
} .modal-cta button:hover {
    color: #000000;
    background: #f0f0f0;
    border: 1px solid #000000;
}
.modal-links {
    width: 100%;
    height: calc(100vh - var(--top-nav-h) - 315px);
    padding: 20px 0 18px var(--menu-pd);
    overflow-y: scroll;
} @media screen and (max-width: 768px) {
    .modal-links {
        padding: 20px 0 18px 8.33vw;
    }
} .modal-links .a-wrap {
    margin-bottom: 12px;
} .modal-links .a-wrap a {
    font-size: 16px;
    font-weight: 400;
} @media screen and (max-width: 768px) {
    .modal-links .a-wrap a {
        font-size: 20px;
    }
}
.modal-bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
} 
.modal-bottom .modal-views {
    /* border-top: var(--border); */
    width: 100%;
    padding: 16px var(--menu-pd);
    font-size: 9.5px;
    text-align: center;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    pointer-events: none;
}
.fhs {
    font-size: 9.5px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    pointer-events: none;
} @media screen and (max-width: 768px) {
    .modal-bottom .modal-views {
        font-size: 14px;
    }
    .fhs {
        font-size: 14px;
    }
}
.modal-bottom .modal-contact {
    border-top: var(--border-3);
    width: 100%;
    padding: 13px var(--menu-pd) 9px  var(--menu-pd);
} .modal-bottom .modal-contact img {
    margin: 6px;
    width: calc(100% - 12px);
    transition: all ease 0.2s;
} @media screen and (max-width: 768px) {
    .modal-bottom .modal-contact img {
        margin: 12px;
        width: calc(100% - 24px);
    }
} .modal-bottom .modal-contact img:hover {
    transform: scale(1.2);
} 
.modal-bottom .modal-darkmode {
    height: var(--top-nav-h);
    border-top: var(--border-3);
    width: 100%;
    padding: 16px var(--menu-pd);
} @media screen and (max-width: 768px) {
    .modal-bottom .modal-darkmode {
        height: 69px;
        padding: 16px 8.33vw;
    }
}
.modal-bottom .modal-darkmode .drk-text {
    float: left; 
    font-size: 14px; 
    font-weight: 500; 
    top: 4px; 
    position: relative;
} @media screen and (max-width: 768px) {
    .modal-bottom .modal-darkmode .drk-text {
        font-size: 18px;
        top: 6px; 
    }
}




/* Modal Box */
.modal {
    z-index: 11;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: left;
    background: rgba(0, 0, 0, 0.5);
    transition: all ease 0.2s;
}
.modal__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
}
.modal-state {
    display: none;
}
.modal-state:checked + .modal {
    opacity: 1;
    visibility: visible;
}
.modal-state:checked + .modal .modal__inner {
    top: 0;
}
.modal__inner {
    background: var(--background-nav);
    backdrop-filter: blur(12px);

    position: absolute;
    top: 0;
    right: calc(16.66vw - 12px);
    width: 252px;
    height: 100vh;
    overflow: auto;
} @media screen and (max-width: 768px) {
    .modal__inner {
        width: 100vw;
        right: 0;
    }
}
.modal__close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
} @media screen and (max-width: 768px) {
    .modal__close {
        top: 10px;
        right: 8.33vw;
    }
}
/* Dark Mode */
.darkmode-button {
    --drkbtn-w: 50px;
    --drkbtn-h: 26px;
    position: relative;
    width: var(--drkbtn-w);
    height: var(--drkbtn-h);
    cursor: pointer;
} @media screen and (max-width: 768px) {
    .darkmode-button {
        --drkbtn-w: 72px;
        --drkbtn-h: 36px;
    }
}
.darkmode-button input[type="checkbox"]
{
    position: relative;
    opacity: 0;
    left: 12px;
}
.darkmode-button span
{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
    background-color: #000000;
    border-radius: var(--drkbtn-h);
    transition: 0.2s ease background-color, 0.2s ease opacity;
}
.darkmode-button span:before,
.darkmode-button span:after
{
    content: '';
    position: absolute;
    top: calc(var(--drkbtn-h)*0.15);
    width: calc(var(--drkbtn-h)*0.7);
    height: calc(var(--drkbtn-h)*0.7);
    border-radius: 50%;
    transition: 0.5s ease transform, 0.2s ease background-color;
}
.darkmode-button span:after
{
    background-color: #ffffff;
    transform: translate(calc(var(--drkbtn-h)*0.15) ,0px);
    z-index: 0;
}
.darkmode-button input[type="checkbox"]:checked + span:after
{
    background-color: #000000;
    transform: translate(calc(var(--drkbtn-w) - var(--drkbtn-h)*0.85),0px);
}
.darkmode-button span:before
{
    background-color: #000000;
    transform: translate(calc(var(--drkbtn-h)*-0.5), calc(var(--drkbtn-h)*-2));
    z-index: 1;
}
.darkmode-button input[type="checkbox"]:checked + span:before
{
    background-color: #ffffff;
    transform: translate(calc(var(--drkbtn-w) - var(--drkbtn-h)*1.15), calc(-0.25*var(--drkbtn-h)));
}
.darkmode-button input[type="checkbox"]:checked + span
{
    background-color: #ffffff;
}
.darkmode-button input[type="checkbox"]:active + span
{
    opacity: 0.5;
}
/* Expand Button */
.expandable {
    margin: 0 0 0 0;
    padding: 0;
}
.accordion {
    padding: 8px 0 8px 2.5vw;
    background-color: transparent;
    color: var(--text-1);
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.3s;
    border-left: 1px solid #858585;
} .accordion .h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 8px 0;
} .accordion .p {
    font-size: 14px;
    color: var(--text-2);
    margin: 8px 0;
} @media screen and (max-width: 768px) {
    .accordion .p {
        font-size: 16px;
    } 
} 
.active, .accordion:hover {
    background-color:  transparent; /*Active*/
    color: var(--text-1);
    border-left: 5px solid var(--text-1);
}
.accordion::before {
    position: relative;
    height: 0;
    content: ''; /*The icon*/
    font-weight: bold;
    float: right;
    top: 0px;
    right: 0px;
    font-size: 28px;
    color: var(--text-2);
}
.active::before {
    content: "\2022";
}
.panel {
    padding: 0 0 0 calc(2.5vw + 4px);
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
} .panel .h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 8px 0;
} .panel p {
    text-align: justify;
    font-size: 15px;
    color: var(--text-2);
    line-height: 1.7;
    margin: 8px 0 8px 0;
}  @media screen and (max-width: 768px) {
    .panel p {
        font-size: 18px;
    }  
} .panel  a {
    font-size: 14px;
    color: var(--text-2);
    font-weight: 400;
    font-style: italic;
    text-decoration: none;
    border-bottom: 1px dotted var(--text-2);
    transition: all ease 0.3s !important;
} .panel  a:hover {
    border-bottom: 1px solid var(--accent);
} .panel img {
    border-radius: 4px;
}



















.content h1 {
    margin: 24px 0;
    font-weight: 700;
    text-align: left;
}
.content h2 {
    margin: 16px 0;
    font-weight: 700;
}
.content h3 {
    margin: 16px 0;
    font-weight: 600;
}
.content h4 {
    margin: 16px 0;
    font-weight: 500;
}
.content h5 {
    margin: 24px 0;
    font-weight: 400;
}
.content h6 {
    margin: 16px 0;
    font-weight: 400;
}
.content p {
    font-size: var(--content-font-size);
    margin-bottom: 12px;
    line-height: 1.7;
    text-align: justify;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    pointer-events: none;
} @media screen and (max-width: 768px) {
    .content p {
        font-size: 18px;
    }    
}
.content a {
    text-decoration: none;
    border-bottom: 1px dotted var(--text-1);
    margin-bottom: 12px;
    font-weight: inherit;

    word-wrap: break-word;

    -webkit-user-select: all;
    -khtml-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    -o-user-select: all;
    user-select: text;
    pointer-events: all;
    transition: all ease 0.0s;
} .content a:hover {
    border-bottom: 2px solid var(--text-1);
}

.content .highlighter-rouge-deco {
    height: 34px;
    --dot-size: 11px;
    background: #88888815;
    display: flex;
    align-items: center;
    border-radius: 4px;
} .content .highlighter-rouge-deco [class^="dot"] {
    height: var(--dot-size);
    width: var(--dot-size);
    border-radius: 50%;
    margin-left: 12px;
} .content .highlighter-rouge-deco .dot1 {
    background: #fc625d;
} .content .highlighter-rouge-deco .dot2 {
    background: #fdbc40;
} .content .highlighter-rouge-deco .dot3 {
    background: #35cd4b;
}
.content .highlighter-rouge {
    position: relative;
    font-size: 15px;
    background: #88888815;
    margin: 16px 0;
    /* padding: 2px 6px; */
    border-radius: 4px;
    font-family: 'Roboto Mono', monospace !important;
    color: var(--code-color);

    -webkit-user-select: all;
    -khtml-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    -o-user-select: all;
    user-select: text;
    pointer-events: all;
}

.content div .highlight {
    line-height: 1.5;
    padding: 14px 12px 0 12px;
    border-radius: 4px;
    overflow-x: scroll;
}
.content .highlight ::-webkit-scrollbar { height: 12px;} 
.content .highlight ::-webkit-scrollbar-track { background: transparent; }
.content .highlight ::-webkit-scrollbar-thumb { background: rgba(136, 136, 136, 0.3); border-radius: 100px;}
.content .highlight ::-webkit-scrollbar-thumb:hover { background: rgba(136, 136, 136, 0.8); }
.content .highlight pre {
    text-align: left;
    /* white-space: pre-line; */
}
.content .highlight pre code, 
.content .highlight pre code span {
    font-size: 14px;
    font-family: 'Roboto Mono', monospace !important;
}
.content img {
    width: 100%;
    border-radius: 4px;
}
.content blockquote {
    padding-left: 24px;
    border-left: 4px solid #c0c0c0;
    font-style: italic;
}
.content .task-list {
    list-style: none;
}
.content .task-list .task-list-item-checkbox {
    position: relative;
    left: -12px;
}
.content table {
    border-collapse: collapse;
    width: 100%;
}
.content table td, .content table th {
    border: 1px solid #c4c4c4;
    padding: 6px 12px;
}
.content table tr:nth-child(even){
    background-color: #f2f2f2;
}
.content table tr:hover {
    background-color: #dddddd;
}
.content table th {
    text-align: left;
    background: #000000;
    color: white;
}
.content ul {
    padding: 0 0 0 20px;
}
.content ul li {
    font-size: var(--content-font-size);
    position: relative;
    line-height: 1.5;
    padding: 0 0 12px 0;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    pointer-events: none;
}
.content ol {
    padding: 0 0 0 20px;
}
.content ol li {
    font-size: var(--content-font-size);
    position: relative;
    line-height: 1.5;
    padding: 0 0 12px 0;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    pointer-events: none;
}


body {
    --dark-blue: #002550;
    --light-blue: #285f9e;
    --purple: #421a77;
    --green: #037046;
    --black: #1f1f1f;
    --grey: #777777;
}
body.darkmode {
    --dark-blue: #1374e4;
    --light-blue: #73b4ff;
    --purple: #9d52ff;
    --green: #0bbd79;
    --black: #e4e4e4;
    --grey: #a1a1a1;
}

/* JS */
.language-javascript code .kd {
    color: var(--dark-blue);
} 
.language-javascript code .nx {
    color: var(--light-blue);
}
.language-javascript code .k {
    color: var(--purple);
} 
.language-javascript code .nb, 
.language-javascript code .mi {
    color: var(--green);
} 
.language-javascript code .p {
    color: var(--black);
} 
.language-javascript code .c1, 
.language-javascript code .o {
    color: var(--grey);
}
/* JSX */
.language-jsx code .nc,
.language-jsx code .k {
    color: var(--purple);
}
.language-jsx code .nx {
    color: var(--dark-blue);
}
.language-jsx code .kd,
.language-jsx code .nt {
    color: var(--light-blue);
}
.language-jsx code .na,
.language-jsx code .mi {
    color: var(--green);
}
.language-jsx code .p,
.language-jsx code .o,
.language-jsx code .si,
.language-jsx code .c1 {
    color: var(--grey);
} 
/* Python */
.language-python code .nb {
    color: var(--dark-blue);
} 
.language-python code .n {
    color: var(--light-blue);
}
.language-python code .kn, 
.language-python code .k, 
.language-python code .ow {
    color: var(--purple);
}
.language-python code .mi {
    color: var(--green);
} 
.language-python code .p {
    color: var(--black);
} 
.language-python code .o, 
.language-python code .se,
.language-python code .c1 {
    color: var(--grey);
}

/* C++ */
.language-cpp code .kt,
.language-cpp code .nc,
.language-cpp code .nl {
    color: var(--dark-blue);
} 
.language-cpp code .n,
.language-cpp code .nf {
    color: var(--light-blue);
}
.language-cpp code .k {
    color: var(--purple);
} 
.language-cpp code .mi ,
.language-cpp code .cp {
    color: var(--green);
} 
.language-cpp code .p {
    color: var(--black);
} 
.language-cpp code .c1 ,
.language-cpp code .o {
    color: var(--grey);
}

/* HTML */
.language-html code .nt {
    color: var(--dark-blue);
} 
.language-html code .na ,
.language-html code .nl{
    color: var(--light-blue);
}
.language-html code .nc {
    color: var(--purple);
}
.language-html code .cp {
    color: var(--green);
} 
.language-html code .p {
    color: var(--black);
} 
.language-html code .c1 , 
.language-html code .ni {
    color: var(--grey);
}

/* CSS */
.language-css code .nt {
    color: var(--dark-blue);
} 
.language-css code .nl  {
    color: var(--light-blue);
}
.language-css code .nc {
    color: var(--purple);
}
.language-css code .cp {
    color: var(--green);
} 
.language-css code .p {
    color: var(--black);
} 
.language-css code .c1 {
    color: var(--grey);
}



#youarereadingID {
    display: none;
} @media only screen and (min-width: 768px) {
    #youarereadingID {
        display: block;
    }
}
.hide {
    opacity: 0;
    transition: all ease 0.5s;
}
.show {
    opacity: 1;
    transition: all ease 0.5s;
}



.youtube {
    width: 100%; height: 46.87vw;
    border: none; background: transparent;
} @media only screen and (min-width: 768px) {
    .youtube {
        width: 50vw; height: 28.125vw;
    }
}

.left-latest-post-bar-wrap {
    position: sticky;
    top: 120px;
    height: 0;
}
.left-latest-post-bar {
    padding: 32px 42px; 
    font-weight: 500;
    height: calc(100vh - 120px);
    width: 38vw; 
    background: #1d1d1d; 
    color: #e7e7e7; 
    text-align: right; 
    border-top-right-radius: 4px;
}





#test-styles {
    color: green;
}








/* ============= LifeLog CSS ============ */
.all-lifelogs {
    
}
.lifelog {
    position: relative;
    background: #ffffff00;
    /* margin: 0 0 -4px 0; */
    padding: 0;
    margin: 10px;
}
.lifelog .lifelog-img {
    border-radius: 3px;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.lifelog .caption {
    bottom: 0px;
    padding: 0 18px;
    position: absolute;
    font-size: 13px;
    color: #80808000;
    font-weight: 300;
    /* font-family: 'Roboto Mono', monospace; */
}
.lifelog .date {
    margin-top: 4px;
    font-size: 11px;
    color: #80808000;
    font-weight: 300;
    text-transform: uppercase;
    /* font-family: 'Roboto Mono', monospace; */
}
/* Hover */
.lifelog:hover .lifelog-img {
    background: transparent;
    transition: all ease 0.5s;
    filter: brightness(0.3) blur(0.5px);
}
.lifelog:hover .caption {
    bottom: 24px;
    transition: all ease 0.8s;
    color: #ffffff;
}
.lifelog:hover .date {
    transition: all ease 0.8s;
    color: #bbbbbb;
}



.mdi { 
    cursor: pointer;
} 
.mdi-wrap { 
    background: #000000bb; 
    backdrop-filter: blur(1px); 
    z-index: 1000; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100vw; 
    height: 100vh; 
    display: flex;
    justify-content: center;
    cursor: pointer;
} 
.mdi-wrap img {
    object-fit: contain; 
    height: calc(100vh - 120px);
    width: initial;
    margin-top: 60px;
    border-radius: 8px;
}
@media screen and (max-width: 1000px) {
    .mdi-wrap img {
        object-fit: contain; 
        height: initial;
        max-width: 100vw;
        margin-top: 0px;
        border-radius: 0px;
    }
}
