* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color: rgb(70, 70, 70);
}

:root {
    --margin-top: 14px; 
    --padding: 24px;
    --border-radius: 8px;
    --header-image-height: 140px;
    --avatar-size: 90px;
}

/* ------------------------ Custom Scroll Bar ------------------------- */
        ::-webkit-scrollbar {
            width: 6px;
        }
        ::-webkit-scrollbar-track {
            background: transparent;
        }
        ::-webkit-scrollbar-thumb {
            background: rgb(240, 240, 240); 
        }
        ::-webkit-scrollbar-thumb:hover {
            background: rgb(39, 39, 39); 
        }

.row::after {
    content: "";
    clear: both;
    display: table;
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    float: left;
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

body {
    background-color: rgb(238, 238, 238);
}

p {
    margin: 12px 0;
}

a {
    color: gray;
    text-decoration: none;
    border-bottom: rgb(201, 201, 201) 1.5px dotted;
}
a:hover {
    color: black;
    border-bottom: none;
}

.card {
    margin: 3vh 1.5vh;
    padding: var(--padding);
    border-radius: var(--border-radius);
    background-color: white;
}

.scroll-div {
    overflow-y: scroll;
    padding-right: 4px;
    margin-top: var(--margin-top);
}

.header-image {
    height: var(--header-image-height);
    background-color: rgb(43, 43, 43);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.avatar {
    height: var(--avatar-size);
    width: var(--avatar-size);
    left: calc(50% - var(--avatar-size)/2);
    top: calc(var(--header-image-height) - var(--avatar-size)/2);
    position: relative; 
    background-color: white; 
    border-radius: 100%;
} .avatar-img {
    background-color: wheat; 
    height: calc(var(--avatar-size) - 16px);
    width: calc(var(--avatar-size) - 16px);
    top: 8px;
    left: 8px;
    position: relative;
    border-radius: 100%;
}