---

---

{% include head.html %}

<body>
    {% include scroll-to-top.html %}
    {% include top-nav.html %}

    <div class="row" style="padding: 0; margin: 0;">
        <div class="col-2">
            &nbsp;
        </div>
        <div class="col-8">

            <div style="height: 25vh;"></div>
            <div class="row-2">
                <div class="col">
                    <div style="height: 5vh;"></div>
                    <h1 style="margin-bottom: 24px;">
                        Oops! Page not found!
                    </h1>
                    <div>
                        The page you are looking for does not exist. It might have been removed, renamed, or did not
                        exist in the first place.
                        <br><br>
                        <a href="/">
                            Return home</a> »
                        <br><br>
                        If you think something is broken, report this!
                        <br><br>
                        <a href="mailto:quangbao.dev@gmail.com">
                            Report problem</a> »
                    </div>
                </div>
                <div class="col">
                    <img src="../assets/404.gif" style="width: 80%; position: relative; left: 10%;">
                </div>
            </div>

        </div>
        <div class="col-2">
            &nbsp;
        </div>
    </div>

    {% include scripts.html %}
</body>

</html>