---

---

{% include head.html %}

<body>
    {% include scroll-to-top.html %}
    {% include top-nav.html %}

    <div class="row just-display-on-desktop">
        <div class="col-2">
            &nbsp;
        </div>
        <div class="col-8">

            <div style="height: calc(2*var(--top-nav-h) - 39px);"></div>

            <div class="sub-menu-bar">
                <a href="#latest">Latest Posts</a>
                <a href="#">Technology</a>
                <a href="#">Web Development</a>
                <a href="#">Artificial Intelligence</a>
                <a href="#">Data Analysis</a>
                <a href="#">Computer Security</a>
                <a href="#">Personal</a>
                <a href="#">Experience</a>
            </div>

            <div style="height: calc(var(--top-nav-h) - 36px);"></div>
            <div style="border-top: var(--border);"></div>

            <!-- <div style="height: calc(var(--top-nav-h) - 20px);"></div>
            <div class="nav-link">
                FEATURED POSTS
            </div> -->
            <div style="height: calc(var(--top-nav-h) - 0px);"></div>

            <div class="featured-post just-display-on-desktop">
                <div style="margin: 0; display: flex; flex-direction: row; align-items: stretch;">
                    <div style="width: 50%; display: flex; background: #000000; border-radius: 5px;">
                        <img src="../assets/projects/covid19prj.gif"
                            style="padding: 0px 0; background: #00000000; object-fit: contain;" alt="covid19">
                    </div>
                    <div style="width: 50%; margin: 0 0 0 2vw;">
                        <div class="just-display-on-desktop">
                            <a href="/tag/ai">
                                <mark class="tag">
                                    artificial intelligence
                                </mark>
                            </a>
                            <a href="/tag/data_science">
                                <mark class="tag">
                                    data analysis
                                </mark>
                            </a>
                            <a href="/tag/covid19">
                                <mark class="tag">
                                    covid-19
                                </mark>
                            </a>
                        </div>
                        <a href="/notebook/covid-19">
                            <h2 class="title">
                                COVID-19 (Sars CoV 2) virus spread analysis and diagnosis from radiography
                            </h2>
                        </a>
                        <div style="margin-top: 10px; font-size: 14px;">
                            By <i>Bui Quang Bao</i>
                        </div>
                        <div class="preview" style="display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 7;
                        overflow: hidden;">
                            <!-- Analysis, the process of turning raw data into insights, provide us with a view of how
                            Coronavirus disease influences the communities, indicate if the development of a country
                            affects its virus spread as well as the infection rate, the death rate and the recovered
                            rate.
                            Diagnosis method is potential in preventing the spread of the pandemic. With the dataset
                            of chest X-ray, we can build a Machine Learning model to predict if a new X-ray image is
                            from COVID-19 infected or non-infected. -->
                            Analysis, the process of turning raw data into insights, provide us with a view of how
                            Coronavirus disease influences the communities, indicate if the development of a country
                            affects its virus spread as well as the infection rate, the death rate and the recovered
                            rate. With the dataset of chest X-ray, we can build a Machine Learning model to predict if a
                            new X-ray image is from COVID-19 infected or non-infected.
                        </div>
                        <div class="preview" style="margin-top: 10px; font-size: 14px;">
                            &rtrif;
                            <a href="https://github.com/buiquangbao/COVID-19-Virus-Analysis-and-Diagnosis/tree/master/dataset/dataset_radiography"
                                target="_blank" style="margin-right: 20px; color: var(--text-2);">
                                Dataset Radiography</a>
                            &rtrif;
                            <a href="https://github.com/buiquangbao/COVID-19-Virus-Analysis-and-Diagnosis/tree/master/dataset/dataset_analysis"
                                target="_blank" style="margin-right: 20px; color: var(--text-2);">
                                Dataset CSV</a>
                            &rtrif;
                            <a href="https://github.com/buiquangbao/COVID-19-Virus-Analysis-and-Diagnosis/blob/master/Analysis%20SarsCoV2.py"
                                target="_blank" style="color: var(--text-2);">
                                SarsCoV2.py
                            </a>
                        </div>

                    </div>
                </div>
            </div>

            <div style="height: calc(var(--top-nav-h) - 0px);"></div>
            <div style="border-top: var(--border);"></div>
            <div style="height: calc(var(--top-nav-h) - 0px);"></div>

            <div class="featured-post-2">
                <div class="flex">
                    <!-- 1 -->
                    <div class="item">
                        <a href="/notebook/what-series">
                            <img src="../post-img/thumbnail/what-series.png">
                        </a>
                        <div class="just-display-on-desktop">
                            <a href="/tag/technology">
                                <mark class="tag">
                                    technology
                                </mark>
                            </a>
                            <a href="/tag/what">
                                <mark class="tag">
                                    what
                                </mark>
                            </a>
                        </div>
                        <a href="/notebook/what-series">
                            <h2 class="title">
                                WHAT Series - Awesome tech in a nutshell
                            </h2>
                        </a>
                        <div class="preview">
                            A series of posts answer the question "What is" in a simple way. We will go through some
                            famous web framework like React and Vue, to tools like Docker or Kubernetes, etc.
                        </div>
                    </div>
                    <!-- 2 -->
                    <div class="item">
                        <a href="/notebook/solidcorejs-log">
                            <img src="../post-img/thumbnail/solidcorejs.png">
                        </a>
                        <div class="just-display-on-desktop">
                            <a href="/tag/technology">
                                <mark class="tag">
                                    technology
                                </mark>
                            </a>
                            <a href="/tag/web">
                                <mark class="tag">
                                    web
                                </mark>
                            </a>
                        </div>
                        <a href="/notebook/solidcorejs-log">
                            <h2 class="title">
                                SolidCoreJS development log and latest updates
                            </h2>
                        </a>
                        <div class="preview">
                            SolidCoreJS is a lightweight and easy-to-use Javascript library that handle the common task
                            in web development. And here are the latest updates.
                        </div>
                    </div>
                    <!-- 3 -->
                    <div class="item">
                        <a href="/notebook/ohyeah-ohyeah-ohyeah-ohyeah-ohyeah-ohyeah-ohyeah-ohyeah">
                            <img src="../post-img/3.jpg">
                        </a>
                        <div class="just-display-on-desktop">
                            <a href="/tag/ai">
                                <mark class="tag">
                                    artificial intelligence
                                </mark>
                            </a>
                        </div>
                        <a href="/notebook/ohyeah-ohyeah-ohyeah-ohyeah-ohyeah-ohyeah-ohyeah-ohyeah">
                            <h2 class="title">
                                We won the AI Hackathon RESET1010
                            </h2>
                        </a>
                        <div class="preview">
                            Challenge: Build an AI-powered application to boost the recovery of SME from Covid-19. We
                            won the 3rd prize from the Ministry of Science and Technology of Vietnam.
                        </div>
                    </div>
                </div>
            </div>

            <div style="height: calc(var(--top-nav-h) - 0px);" id="latest"></div>
            <div style="border-top: var(--border);"></div>
            <div style="height: calc(var(--top-nav-h) - 0px);"></div>


        </div>
        <div class="col-2">
            &nbsp;
        </div>
    </div>

    <div class="just-display-on-mobile">
        <div style="height: calc(2*var(--top-nav-h) - 30px);"></div>
    </div>

    <div class="left-latest-post-bar-wrap just-display-on-desktop">
        <div class="left-latest-post-bar">
            LATEST POSTS
        </div>
    </div>

    <div class="row">
        <div class="col-5">
            &nbsp;
        </div>
        <div class="col-5">
            <div class="all-posts">
                {% for post in site.posts %}
                {% unless "lifelog" contains post.series %}



                <div style="margin-bottom: 10px;">
                    <a href="/tag/{{post.tags[0]}}" style="border: none;">
                        <mark class="tag" style="top: -0.5px; position: relative;">
                            {{post.tags[0]}}
                        </mark>
                    </a>
                    <span style="font-size: 13px; font-weight: 500;">
                        {{ post.date | date: "%B %-d, %Y" }}
                    </span>
                </div>

                {% if post.thumbnail != undentified %}
                <div style="height: 6px;">&nbsp;</div>
                <a href="{{post.url}}">
                    <img class="thumbnail" src="{{post.thumbnail}}" alt="{{post.title}}" loading="lazy">
                </a>
                <div style="height: 6px;">&nbsp;</div>
                {% endif %}

                <h2 style="margin-bottom: 10px;">
                    <a href="{{post.url}}" class="title">
                        {{ post.title }}
                    </a>
                </h2>

                <div class="preview">
                    {{post.preview}}
                </div>

                <div style="height: calc(var(--top-nav-h) + 10px);"></div>
                {% endunless %}
                <!-- end unless "lifelog" contains post.series -->
                {% endfor %}
            </div>
        </div>
    </div>

    {% include scripts.html %}
</body>

</html>