---

---

{% include head.html %}

<body>
    {% include scroll-to-top.html %}
    {% include top-nav.html %}

    <div class="row">
        <div class="col-2">
            &nbsp;
        </div>
        <div class="col-8">

            <div style="height: calc(2*var(--top-nav-h) - 20px);"></div>
            <div class="nav-link">
                FEATURED POSTS
            </div>
            <div style="height: calc(var(--top-nav-h) - 20px);"></div>

            <div class="featured-post">
                <div class="row-2" style="margin: 0;">
                    <div class="col">
                        <div class="img-wr">
                            <img src="../assets/projects/covid19prj.gif"
                                style="padding: 10px 0; background: #000000; object-fit: contain;" alt="covid19">
                        </div>
                    </div>
                    <div class="col">
                        <div class="just-display-on-desktop">
                            <mark class="tag">
                                COVID-19
                            </mark>
                            <mark class="tag">
                                MACHINE LEARNING
                            </mark>
                            <mark class="tag">
                                DATA ANALYSIS
                            </mark>
                        </div>
                        <a href="https://github.com/buiquangbao/COVID-19-Virus-Analysis-and-Diagnosis" target="_blank">
                            <h2 class="title">
                                COVID-19 (Sars Cov 2) virus spread analysis and diagnosis from radiography
                            </h2>
                        </a>
                        <div style="margin-top: 12px; font-size: 14px;">
                            By <i>Bui Quang Bao</i>
                        </div>
                        <div class="preview">
                            Analysis, the process of turning raw data into insights, can provide us with a view of how
                            Coronavirus disease influences the communities, indicate if the development of a country
                            affects its virus spread as well as the infection rate, the death rate and the recovered
                            rate.
                            Diagnosis method is significant in preventing the spread of the pandemic. With the dataset
                            of chest X-ray, we can build a ML model to predict if a new X-ray image is from COVID-19
                            infected or non-infected.
                        </div>
                        <div class="preview" style="margin-top: 12px; font-size: 14px;">
                            &rdca;
                            <a href="https://github.com/buiquangbao/COVID-19-Virus-Analysis-and-Diagnosis"
                                target="_blank" style="margin-right: 20px; color: var(--text-2);">
                                Full Article</a>
                            &rdca;
                            <a href="https://github.com/buiquangbao/COVID-19-Virus-Analysis-and-Diagnosis/tree/master/dataset"
                                target="_blank" style="margin-right: 20px; color: var(--text-2);">
                                Dataset</a>
                            &rdca;
                            <a href="https://github.com/buiquangbao/COVID-19-Virus-Analysis-and-Diagnosis/blob/master/Analysis%20SarsCoV2.py"
                                target="_blank" style="color: var(--text-2);">
                                Jupyter Python File
                            </a>
                        </div>

                    </div>
                </div>
            </div>

            <div style="height: calc(var(--top-nav-h) - 0px);"></div>
            <div style="border-top: var(--border);"></div>
            <div style="height: calc(var(--top-nav-h) - 0px);"></div>


            <div class="featured-post-2">
                <div class="row-3" style="margin: 0;">
                    <div class="col" style="padding-right: 2vw;">
                        <!-- <img src="../assets/projects/pythonautomation.gif"> -->
                        <div class="just-display-on-desktop">
                            <mark class="tag">
                                PWA
                            </mark>
                            <mark class="tag">
                                WEB APP
                            </mark>
                        </div>
                        <a href="/">
                            <h2 class="title">
                                PWA will lead the web and app industry in near future
                            </h2>
                        </a>
                        <div class="preview">
                            The final project to complete the IT Automation with Python Professional Certificate from
                            Google. Automating Real-World Tasks with Python Course.
                        </div>
                    </div>
                    <div class="col" style="padding: 0 1vw;">
                        <!-- <img src="../assets/projects/pythonautomation.gif"> -->
                        <div class="just-display-on-desktop">
                            <mark class="tag">
                                Automate
                            </mark>
                            <mark class="tag">
                                Python
                            </mark>
                        </div>
                        <a href="/">
                            <h2 class="title">
                                Automating tasks using Python - Capstone project
                            </h2>
                        </a>
                        <div class="preview">
                            The final project to complete the IT Automation with Python Professional Certificate from
                            Google. Automating Real-World Tasks with Python Course.
                        </div>
                    </div>
                    <div class="col" style="padding-left: 2vw;">
                        <!-- <img src="../assets/projects/pythonautomation.gif"> -->
                        <div class="just-display-on-desktop">
                            <mark class="tag">
                                Package
                            </mark>
                            <mark class="tag">
                                NPM
                            </mark>
                        </div>
                        <a href="/">
                            <h2 class="title">
                                Publish, maintain and update package on npm
                            </h2>
                        </a>
                        <div class="preview">
                            The final project to complete the IT Automation with Python Professional Certificate from
                            Google. Automating Real-World Tasks with Python Course.
                        </div>
                    </div>
                </div>
            </div>


            <div style="height: calc(var(--top-nav-h) - 0px);"></div>
            <div style="border-top: var(--border);"></div>
            <div style="height: calc(var(--top-nav-h) - 0px);"></div>


        </div>
        <div class="col-2">
            &nbsp;
        </div>
    </div>

    <div class="row">
        <div class="col-5">
            <div class="just-display-on-desktop"
                style="padding: 32px 42px; font-weight: 500; height: calc({{ site.posts | size }}*150px); width: 90%; background: #1d1d1d; color: #e7e7e7; text-align: right;">
                LATEST POSTS
            </div>
        </div>
        <div class="col-5">
            <div class="all-posts">
                {% for post in site.posts %}
                <div style="margin-bottom: 10px;">
                    <a href="/tag/{{post.tags[0]}}" style="border: none;">
                        <mark class="tag" style="top: -0.5px; position: relative;">
                            {{post.tags[0]}}
                        </mark>
                    </a>
                    <span style="font-size: 13px; font-weight: 500;">
                        {{ post.date | date: "%B %-d, %Y" }}
                    </span>
                </div>
                <h2 style="margin-bottom: 10px;">
                    <a href="{{post.url}}" class="title">
                        {{ post.title }}
                    </a>
                </h2>
                <div class="preview">
                    {{post.preview}}
                </div>

                <div style="height: calc(var(--top-nav-h) - 16px);"></div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% include scripts.html %}
</body>

</html>