---

---

{% include head.html %}

<body>
    {% include scroll-to-top.html %}
    {% include top-nav.html %}

    <div class="row">
        <div class="col-2">
            &nbsp;
        </div>
        <div class="col-8">




            <div style="height: 25vh;"></div>
            <div class="row-2">
                <div class="col">
                    <div class="pfl-left">
                        <div style="font-weight: 400; font-size: 14px; margin-bottom: 8px;">
                            My name is
                        </div>
                        <div style="font-size: 38px; font-weight: 600;">
                            Bui Quang Bao
                        </div>
                        <div class="under-1"></div>
                        <div class="under-2"></div>
                        <br>
                        <div class="undertext-1">
                            last_name
                        </div>
                        <div class="undertext-2">
                            first_name
                        </div>
                    </div>
                    &nbsp;
                </div>
                <div class="col">
                    <div class="pfl-section">
                        <div class="pfl-title">
                            Who I am
                        </div>
                        <div class="pfl-text">
                            Born in 2001. I am a developer, designer from Ho Chi Minh City, Vietnam. My personality is
                            Turbulent Logician (INTP-T), with the Constant Improvement strategy.
                        </div>
                        <div class="pfl-text">
                            I have done some interesting projects, attended some competitions and achieved some awards.
                            As a tech insider, I spend most of my time self-study, engaged in tech communities and
                            explore the amazing things that craft this modern world.
                        </div>
                    </div>
                    <div class="pfl-section">
                        <div class="pfl-title">
                            What I do
                        </div>
                        <!--  -->
                        <div class="expandable">
                            <button class="accordion">
                                <div class="h3">
                                    Web Front-end Developer – Part-time
                                </div>
                                <div class="p">
                                    MailNhanh.com
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    Feb 2021 – Present
                                </div>
                            </button>
                            <div class="panel">
                                <p>Content here content here content here content here content here content here content
                                    here content here content here content here content here</p>
                                <p>Content here content here content here content here content here content here content
                                    here content here content here content here content here</p>
                                <p>Content here content here content here content here content here content here content
                                    here content here content here content here content here</p>

                            </div>
                        </div>
                        <!--  -->
                        <div class="expandable">
                            <button class="accordion">
                                <div class="h3">
                                    Web Front-end Developer – Part-time
                                </div>
                                <div class="p">
                                    MailNhanh.com
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    Feb 2021 – Present
                                </div>
                            </button>
                            <div class="panel">
                                <p>Content here content here content here content here content here content here content
                                    here content here content here content here content here</p>
                                <p>Content here content here content here content here content here content here content
                                    here content here content here content here content here</p>
                                <p>Content here content here content here content here content here content here content
                                    here content here content here content here content here</p>

                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <div class="col-2">
                &nbsp;
            </div>
        </div>

        <br>

        {% include scripts.html %}
</body>

</html>


<!-- <div id="test-scripts">> Error!</div> -->
<!-- <div id="test-creatoper">> Error!</div> -->
<!-- <div id="test-styles">> Green: styles.css load successfully!</div> -->
<!-- <div id="test-creatopercss">> Green: creatoper.css load successfully!</div> -->
<!-- <div id="test-creatopercontrol">> Green: creatoper-control.css load successfully!</div> -->