---

---

{% include head.html %}

<body>
    {% include scroll-to-top.html %}
    {% include top-nav.html %}

    <div style="height: calc(2*var(--top-nav-h) - 0px);"></div>

    <div class="left-latest-post-bar-wrap just-display-on-desktop">
        <div class="left-latest-post-bar">
            <div>All Posts with Tag</div>
            <div style="text-transform: uppercase; padding-top: 8px;">{{ page.title }}</div>
        </div>
    </div>

    <div class="row">
        <div class="col-5">
            &nbsp;
            <!-- <div class="just-display-on-desktop"
                style="padding: 32px 42px; font-weight: 500; width: 90%; background: #1d1d1d; color: #e7e7e7; text-align: right;  border-top-right-radius: 4px; border-bottom-right-radius: 4px;">
                <div>Browse Posts by Tag</div>
                <div style="text-transform: uppercase; padding-top: 8px;">{{ page.title }}</div>
            </div> -->
        </div>
        <div class="col-5">
            <div class="all-posts">
                {% for post in site.tags[page.tag] %}
                <div style="margin-bottom: 10px;">
                    <a href="/tag/{{ page.tag }}" style="border: none;">
                        <mark class="tag" style="top: -0.5px; position: relative;">
                            {{ page.tag }}
                        </mark>
                    </a>
                    <span style="font-size: 13px; font-weight: 500;">
                        {{ post.date | date: "%B %-d, %Y" }}
                    </span>
                </div>
                <h2 style="margin-bottom: 10px;">
                    <a href="{{post.url}}" class="title">
                        {{ post.title }}
                    </a>
                </h2>
                <div class="preview">
                    {{post.preview}}
                </div>
                <div style="height: calc(var(--top-nav-h) - 16px);"></div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% include scripts.html %}
</body>

</html>