:root {
    --color-bg: rgb(22, 22, 22);
    --color-text: rgb(240, 240, 240);
}

/* ================================== */

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    transition: all ease 0.3s;
    font-family: 'Inter', 'Roboto', sans-serif;
    line-height: 1.5;
}

::-webkit-scrollbar {
    cursor: pointer;
    background: transparent;
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: hsla(0, 0%, 100%, 0.15);
}

::-webkit-scrollbar-thumb:hover {
    background: hsla(0, 0%, 100%, 0.30);
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

@media screen and (min-width: 1000px) {
    .row {
        flex-wrap: nowrap;
    }
}

.row [class^='col'] {
    width: 100%;
}

@media screen and (min-width: 1000px) {
    .row .col {
        width: 100%;
    }

    .row .col-1 {
        width: 8.33%;
    }

    .row .col-2 {
        width: 16.66%;
    }

    .row .col-3 {
        width: 25%;
    }

    .row .col-4 {
        width: 33.33%;
    }

    .row .col-5 {
        width: 41.66%;
    }

    .row .col-6 {
        width: 50%;
    }

    .row .col-7 {
        width: 58.33%;
    }

    .row .col-8 {
        width: 66.66%;
    }

    .row .col-9 {
        width: 75%;
    }

    .row .col-10 {
        width: 83.33%;
    }

    .row .col-11 {
        width: 91.66%;
    }

    .row .col-12 {
        width: 100%;
    }
}

.desktop-only {
    display: block;
}

@media only screen and (max-width: 1000px) {
    .desktop-only {
        display: none !important;
    }
}

.mobile-only {
    display: block;
}

@media only screen and (min-width: 1000px) {
    .mobile-only {
        display: none !important;
    }
}

/* ================================ */
* {
    color: var(--color-text);
    font-size: 16px;
}

body {
    background: var(--color-bg);
}

::selection {
    color: rgb(0, 0, 0);
    background: rgb(214, 214, 214);
}

#main {
    position: relative;
    left: 50vw;
    width: 39vw;
    margin: 15vh 0 20vh 0;
}

@media only screen and (max-width: 1000px) {
    #main {
        left: 0;
        width: 100vw;
        padding: 0 2rem;
    }
}

a {
    text-decoration: none;
}

h2 {
    margin: 7rem 0 0 0;
    font-size: 1.5rem;
    font-weight: 600;
    /* text-transform: uppercase; */
}

h3 {
    font-size: 1.00rem;
    font-weight: 500;
    letter-spacing: 0.015rem;
    line-height: 2;
    text-align: justify;
}

@media only screen and (max-width: 1000px) {
    h3 {
        line-height: 1.6;
        margin-bottom: 0.5rem;
    }
}

p,
s,
a,
i,
b,
span {
    font-size: 0.9rem;
    font-weight: 400;
    letter-spacing: 0.015rem;
    line-height: 1.8;
    text-align: justify;
}

ul {
    list-style-type: none;
}

ul li {
    margin: 1.8rem 0 0 0;
    text-align: justify;
}

hr {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}


.p-sub {
    color: gray;
}

.p-sub-bold {
    color: rgb(200, 200, 200);
}

.just-a-link {
    color: hsl(200, 80%, 60%);
}

.just-a-link:hover {
    color: hsl(200, 60%, 50%);
}



@media only screen and (max-width: 1000px) {

    h3,
    p,
    s,
    ul li {
        text-align: left;
    }
}